.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.modal {
  position: absolute;
}

.code-blocks {
  display: none;
}

.console {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: aliceblue;
  border: 1px solid black;
}
